{% extends "scenebuilder/base.html" %}
{% block content %}
{% if scene_template %}
<h2>Build your own scene grid for Map: custom</h2>
<h3>Python mapmaker uses these grids to generate a mapfile</h3>
{% for scene in scene_template %}
<ul>
    <hr>
    <p>Sample Grid</p>
    <p>{{ scene|linebreaksbr }}</p>
</ul>
{% endfor %}
{% else %}
<p>No templates are available.</p>
{% endif %}
<textarea rows="30" cols="60">-,-,-,-,-,-,-,-,-,0,0,0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,
-,-,-,-,-,-,-,-,0,~,*,",0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,
-,-,-,0,0,0,-,-,0,*,*,*,0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,
-,-,0,~,*,",0,-,0,*,p,*,0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,
-,-,0,*,e,*,0,-,0,*,*,*,",0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,
-,-,0,^,*,`,0,-,0,*,*,*,*,0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,
-,-,-,0,0,0,-,-,0,*,*,*,`,0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,
-,-,-,-,-,-,-,-,0,*,*,*,0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,
-,-,-,-,-,-,-,-,0,*,*,*,0,-,-,-,-,0,0,0,-,-,-,-,-,-,-,-,-,-,
-,-,-,-,-,-,-,0,~,*,*,*,",0,0,0,0,~,*,",0,0,0,0,0,0,0,0,0,-,
-,-,-,-,-,-,0,~,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,",0,
-,-,-,-,-,0,~,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,0,^,*,*,0,
-,-,-,-,0,~,*,*,*,*,*,*,*,*,*,*,*,*,*,*,0,^,*,*,*,",0,*,`,0,
-,-,-,0,~,*,*,*,*,*,*,*,`,0,0,^,*,*,*,*,",0,*,*,*,*,*,*,0,-,
-,-,-,0,*,*,*,*,*,*,*,*,0,-,-,0,^,*,*,*,*,*,*,*,*,e,*,*,0,-,
-,-,-,0,*,*,*,`,0,^,*,*,0,-,-,-,0,^,*,*,*,*,*,e,*,*,*,*,0,-,
-,-,-,0,^,*,*,0,-,0,*,*,",0,-,-,-,0,^,*,*,*,*,*,*,e,*,*,",0,
-,-,-,-,0,^,*,",0,~,*,*,*,0,-,-,-,-,0,*,*,*,*,*,*,*,*,n,*,0,
-,-,-,-,-,0,^,*,*,*,e,*,`,0,-,-,-,-,0,*,*,*,*,*,*,*,*,*,`,0,
-,-,-,-,-,-,0,*,*,*,*,`,0,-,-,-,-,0,~,*,*,`,0,0,0,0,0,0,0,-,
-,-,-,-,-,-,0,*,*,*,`,0,-,-,-,-,0,~,*,*,`,0,-,-,-,-,-,-,-,-,
-,-,-,-,-,-,0,*,*,*,0,-,-,-,-,0,~,*,*,`,0,-,-,-,-,-,-,-,-,-,
-,-,-,-,-,-,0,*,*,*,0,-,-,-,0,~,*,*,`,0,-,-,-,-,-,-,-,-,-,-,
-,-,-,-,-,-,0,*,*,*,",0,0,0,~,*,*,`,0,-,-,-,-,-,-,-,-,-,-,-,
-,-,-,-,0,0,~,*,*,*,*,*,*,*,*,*,`,0,-,-,-,-,-,-,-,-,-,-,-,-,
-,-,-,0,~,*,*,*,*,*,*,*,*,*,*,`,0,-,-,-,-,-,-,-,-,-,-,-,-,-,
-,-,-,0,*,e,*,*,*,*,*,*,*,*,`,0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,
-,-,-,0,*,*,*,e,*,*,`,0,0,0,0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,
-,-,-,0,^,*,*,*,*,`,0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,
-,-,-,-,0,0,0,0,0,0,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,
</textarea>
{% endblock %}